 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list-style and text decoration for common elements */
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove default border and outline from common form elements */
input, textarea, button {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Resonay-Solid-Light";
  src: url("/fonts/Resonay-Solid-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face { 
  font-family: "Resonay-Solid-Regular";
  src: url("/fonts/Resonay-Solid-Regular.woff2") format("woff2");
  font-display: swap;
}


@font-face { 
  font-family: "SplineSans-Regular";
  src: url("/fonts/SplineSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face { 
  font-family: "SplineSans-Light";
  src: url("/fonts/SplineSans-Light.woff2") format("woff2");
  font-display: swap;
}


@font-face { 
  font-family: "SplineSans-SemiBold";
  src: url("/fonts/SplineSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}








/* END OF TESTING PRIMITIV TEXT */

html {
  font-size: 18px;
}

  body {
    margin: 0 auto;
    width: 100%;
    /* padding: 1% 2%; */
    background-color: #e4e4e4;


  }


/* NAV STYLES */

  nav {
    display: flex;
    justify-content: space-between; /* This moves the logo to the left and nav items to the right */
    align-items: center;
    margin-bottom: 2%;
  }

  /* General Styles */
.nav-links {
  display: inline-block;
  width: 100%;
  top: 5rem;
  left: 48px;
  text-align: right;
}

.nav-links li {
  display: inline;
  padding: 0 0.6rem;
}

.nav-links a {
  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  display: inline;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  border-radius: 4px;
  padding: 1% 0;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #e66027;/*#D73A18;*/
  border-radius: 4px;
  padding: 1% 0;
  transition: 0.4s ease-in-out;
}

/* Hamburger Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;  /* Align the hamburger to the right side */
  top: 20px;    /* Adjust top space */
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  border-radius: 5px;
}

/* Responsive Styles for Tablet & Mobile */
@media (max-width: 768px) {



  .nav-links {
      display: none; /* Hidden by default */
      position: absolute;
      top: 12%;
      left: 0;
      width: 100%;
      text-align: center;
      height: 100vh;
      padding: 4% 0;
  }

  .nav-links ul {
      flex-direction: column;
      padding: 0;
  }

  .nav-links li {
      display: block;
      padding: 1rem 0;
  }

  .nav-links a {
    display: inline;
    font-size: 1.278rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .hamburger {
      display: flex; /* Show hamburger on small screens */
  }

  .nav-links.active {
      display: block; /* Show menu when active */
     background-color: #e4e4e4;
     z-index: 10;
  }

}   


  .about {
    grid-area: about;
    margin-bottom: 2%;
  }

  .info-col-1 {
grid-area: info-col-1;
  }

  .info-col-2 {
    grid-area: info-col-2;
  }

  .info-sub-copy {
    grid-area: info-sub-copy;
  }


  .contact {
    margin: 2% 0;
    grid-area: contact;
  }

  .contact li {
    display: inline;   
    margin: 0 8px 0 0; 
  }

  .contact a {
    font-size: 1.0rem;
    font-weight: normal;
    border-bottom: 1px solid;

  }

  .about p{
    font-size: 1.750rem;
    line-height: 2.25rem;
  }


  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes full viewport height */
    padding: 1% 2%;

  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    grid-template-areas: 
    "about about about about about about"
    "project-grid project-grid project-grid project-grid project-grid project-grid"
    "main main main main main main"
    "project-photos project-photos project-photos project-photos project-photos project-photos";

    }

    .content {
      flex-grow: 1;
    }

  .grid-container-info {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    gap: 1em;
    row-gap: 0;
  }


  .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
      grid-gap: 20px;
      grid-area: project-grid;
    }

    .full-project-grid {
      grid-column: span 6;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  
  .project {
    margin-bottom: 24px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
    grid-gap: 20px;
  }
  
  
  .project img {
    width: 100%;
    height: 350px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the area while maintaining its aspect ratio */
    border-radius: 16px;
    margin-bottom: 2%;
  }


  /* MEDIA QUERIES FOR GRID */

  @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout on mobile */
        gap: 1em;
    }

    .page-container {
      padding: 1%;
    }

    .project-grid {
        grid-template-columns: 1fr; /* One column for each project on mobile */
        grid-gap: 20px;
    }

    .project img {
        height: 250px; /* auto /Let the height adjust automatically for mobile */
        object-fit: cover; /* contain /Ensure the image fits without cutting off parts */
    }


    .grid-container-info {
      grid-template-columns: 1fr; /* Single column layout on mobile */
      gap: 1em;
  }

  .info-col-2 {
      grid-template-columns: 1fr; /* One column for each project on mobile */
      grid-gap: 20px;
  }

  .info-col-1 {
    grid-template-columns: 1fr; /* One column for each project on mobile */
    grid-gap: 20px;
  }

  .contact {
    display: none;
  }

  #colophon-grid-lines {
    display: none;
    border-top: 1px solid;
  }


}







/* PROJECT PAGES */
.project-case-study {
    display: grid;
    grid-column-end: 7;
    grid-column-start: 1;
}



/* PROJECT INFO SECTION */

.project-info {
  display: grid;
  grid-column: 1 / span 6; /* Spans across all 6 columns */
  margin-bottom: 1%;
  padding-bottom: 2%;
  border-bottom: 1px solid #000;
}

a.read-more {
  margin-top: 2%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.600rem;
  font-size: 1.000rem;
}

/* PROJECT PHOTOS SECTION */

.project-photos {
  grid-area: project-photos;
  grid-row: 2;
}

.project-photos img{
  width: 100%;
  object-fit: cover; /* Ensures the image covers the area while maintaining its aspect ratio */
  border-radius: 24px;
  margin-bottom: 2%;
  aspect-ratio: 16 / 9;
  display: grid;
}



/* PROJECT DESCRIPTION SECTION */

h3.description-heading {
  margin: 4% 0 2% 0;
}


.project-description {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
/*  grid-gap: 1em; */
  grid-template-columns: repeat(1, 1fr); /* 6 equal columns */
}





/* RESUME */
h3.resume {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.750rem;
  letter-spacing: 0.1rem;
  margin: 2% 0;
  border-top: 1px solid #666;
}

.resume-section h2 {
  color: #000;
  font-size: 1.556rem;
  line-height: 2.2rem;
}

.resume-section p {
  margin-bottom: 0;
}


#experience, #education, #volunteer, #continued-learning {
grid-column-start: 4;
grid-column-end: 7;
}

#info-text {
  grid-column-start: 3;
  grid-column-end: 6;
  padding: 0 4%;
  border-left: 1px solid;
  border-right: 1px solid;
}

#resume-intro {
  grid-column-start:1;
  grid-column-end: 4;
  position: sticky;
  top: 0;
}

.resume-section {
  margin-bottom: 4%;
}

    /* RESUME MEDIA QUERIES */

    /* Medium Screens (Tablets, Small Laptops) - 600px to 992px */
@media (max-width: 992px) {
  #experience, #education, #volunteer, #continued-learning, #info-intro {
    grid-column-start: 1;
    grid-column-end: 7;
    }

    #resume-intro {
      grid-column-start:1;
      grid-column-end: 7;
      position: relative;
    }

    #info-intro, #info-text {
      grid-column-start:1;
      grid-column-end: 7;
      position: relative;
    }
  
    #colophon-grid-lines {
      display: none;
    }

  }

  /* Small Screens (Mobile) - less than 600px */
@media (max-width: 600px) {


  .resume-section {
    margin-bottom: 10%;
}

#resume-intro {
  grid-column-start:1;
  grid-column-end: 7;
  position: relative;
}

.resume-section h2 {
margin: 0 0 2% 0;
}

  }



  /* VIDEO */

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625 or 56.25%) */
  overflow: hidden;
}

/* Responsive iframe */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/* ABOUT SECTION */

#info-intro {
  grid-column-start:1;
  grid-column-end: 3;
  top: 0;
}

#info-intro img {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the area while maintaining its aspect ratio */
  border-radius: 16px;
}



/* TYPOGRPAHY */

logo {
  font-family: "PirelliALLVIPSub";
  font-size: 3.833rem;
  width: 100%;
}

h1 {
  font-family: "Resonay-Solid-Light", 'Times New Roman', Times, serif;
  font-size: 3.056rem;
  line-height: 3.88rem;
  font-weight: normal;
  margin-bottom: 0.40rem;
}

h1.info {
  font-family: "Resonay-Solid-Light", 'Times New Roman', Times, serif;
  font-size: 2.444rem;
  line-height: 3.24rem;
  font-weight: normal;
  margin-bottom: 1.2rem;
}



h1 a {
  border-bottom: 2px solid black;
}

h2 {
  font-family: "SplineSans-Light", Helvetica, Arial, sans-serif;
  font-size: 1.556rem;
  font-weight: 200;
  line-height: 2.2rem;
  color: #000;
}

h2.project-title {
  font-family: "SplineSans-Light", Helvetica, Arial, sans-serif;
  font-size: 1.556rem;
  line-height: 2.0rem;
  color: #000;
  letter-spacing: -0.01rem;
}

h3 {
  font-family: "SplineSans-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 1.278rem;
  font-weight: normal;
  line-height: 2.0rem;
}

.contact h4 {
  margin: 3% 0 0 0;
}

h4 {
  font-family: "SplineSans-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 1.20rem;
  margin: 3% 0 1% 0;
}

h5 {
  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  font-size: 1.000rem;
  font-weight: 700;
}

h6 {
  font-family: "SplineSans-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 0.778rem;
  line-height: 1.8rem;
  font-weight: 700;
}


p {

  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.600rem;
  margin-bottom: 2%;
}


#colophon p {
  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  font-size: 0.778rem;
  line-height: 1.2rem;
}

#colophon {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px 0 40px 0;
}

#colophon-grid-lines {
  grid-column-start: 3;
  grid-column-end: 6;
  border-left: 1px solid;
  border-right: 1px solid;
}

p a { 
  border-bottom: 1px solid #000;
}

li {
  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  line-height: 1.600rem;
  font-size: 1.000rem;
}


p.project-type, .project-year {
  font-size: 0.778rem;
}


a:hover  {
  background-color: #e66027; /* #D73A18; */
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}

h2.project-title a:hover {
  background-color: #e66027; /* #D73A18;*/
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}


.project a:hover {
  background-color: transparent;
  transform: scale(1.2); /* Enlarge image by 20% */
}

.project img {
  transition: transform 0.3s ease, box-shadow 0.2s ease; /* Smooth transition for both transform and shadow */
}

.project img:hover {
  transform: scale(1.040); /* Scale up image slightly */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add drop shadow on hover */
}



/* MEDIA QUERIES FOR TYPOGRAPHY */



  /* Small Screens (Mobile) - less than 600px */
  @media (max-width: 900px) {

    h1 {
      font-family: "Resonay-Solid-Light", 'Times New Roman', Times, serif;
      font-size: 2.444rem;
      line-height: 3.24rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    h1 a {
      border-bottom: 1px solid black;
    }
  

  }


  /* Small Screens (Mobile) - less than 600px */
  @media (max-width: 600px) {


  nav {
     margin-bottom: 8%;
      }
  
  .project-photos img {
    border-radius: 16px;
    margin-bottom: 4%;
  }

  .project-description {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  h1, h1.info {
    font-family: "Resonay-Solid-Regular", 'Times New Roman', Times, serif;
    font-size: 1.556rem;
    line-height: 2.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  h1 a {
    border-bottom: 1px solid black;
  }

  h2 {
    font-family: "SplineSans-Light", Helvetica, Arial, sans-serif;
    font-size: 1.278rem;
    line-height: 1.88rem;
  }


  h3 {
    font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 1.000rem;
    font-weight: normal;
    line-height: 2.0rem;
  }

  h3.description-heading {
    font-family: "SplineSans-SemiBold", Helvetica, Arial, sans-serif;
    font-size: 1.278rem;
    line-height: 2.2rem;
    margin: 6% 0 -1% 0;
  }
  
  h4 {
    font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1.0rem;
    margin: 4% 0 0%;
  }
  
  h5 {
    font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 1.000rem;
    font-weight: normal;
  }


  a.read-more {
    font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
    margin-top: 6%;
  }

  .contact {
    margin: 12% 0 6% 0;
    grid-area: contact;
  }

    

  }







/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  grid-area: footer;
  margin: 2% 0 0 0;
}

footer p {
  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  font-size: 0.778rem;
  font-weight: normal;
  color: #666;
  text-align: right;
  width: 100%;
}


.footer-links {
  display: inline-block;
  width: 100%;
  top: 5rem;
  text-align: left;
}

.footer-links li {
display: inline;
padding: 0 1% 0 0;

}

.footer-links a {
  display: inline;
  font-size: 0.778rem;
  font-weight: normal;
  color: #666;
  border-bottom: 1px solid grey;
}

.footer-links a:hover,
.footer-links a:focus {
  background-color: #999;
  border-radius: 4px;
}

  /* Small Screens (Mobile) - less than 600px */
  @media (max-width: 600px) {

    body {
      padding: 1% 4%;
    }

    footer {
      flex-direction: column;
      margin-top: 8%;
    }

    footer p {
      font-size: 0.778rem;
      font-weight: normal;
      color: #666;
      text-align: center;
      width: 100%;
      padding: 4% 0;
    }
    
    
    .footer-links {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    
    .footer-links li {
    display: inline;
    margin: 0 2%;    
    }
  }




  /* BLOG */
.post-content {
  display: grid;
  grid-column-start: 1;
  grid-column-end:5;
  border-right: 1px solid black;
  padding: 0 6% 0 0;
}

.post-index {
  display: grid;
  grid-column-start: 1;
  grid-column-end:7;  
}

.post-index ul li {
border-bottom: 1px solid black;
}

.post-index ul li a {
    display: flex;
    height: 100%;
    padding: 1% 0;
  }

  
.blog-post-image-lg {
  width: 100%;
  margin: 1% 0 3%;
  border-radius: 16px;
}

.blog-post-image-sm {
  width: 50%;
  margin: 2% 0;
  border-radius: 16px;
}

.blog-post-image-md {
  width: 80%;
  margin: 2% 0;
  border-radius: 16px;
}


.blog-info h6 {
  font-family: "SplineSans-Regular", Helvetica, Arial, sans-serif;
  font-size: 0.778rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 1% 0;
}

/* Responsive Styles for Tablet & Mobile */
@media (max-width: 768px) {

  .post-content {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 7;
    border: none;
  }

  .post-index ul li a {
    padding: 4% 0;
  }
}