---
import BaseLayout from '../../layouts/BaseLayout.astro';
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';
export async function getStaticPaths() {
const allPosts = Object.values(import.meta.glob('../visual-journal/*.md', { eager: true }));
const uniquecategory = [...new Set(allPosts.map((post: any) => post.frontmatter.category).flat())];

return uniquecategory.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.category.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) => post.frontmatter.category?.includes(tag));

---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
      {filteredPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </BaseLayout>