---
const title = "Page Not Found";
const description = "Oops, this page is not here";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout {title} {description}>
  <section class="about">
    <h1>
      Oops, that page does not exist anymore, or right now, if it ever did.
      Moving things around as I rebuild this website.
    </h1>
  </section>

  <section class="project-grid">
    <!---------- PROJECT 1 ------------>

    <div class="project">
      <a href="/projects/beatrice-no-30-type-revival"
        ><img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/c_fill,w_872,f_auto,q_60/v1738893268/beatrice-no-30_1_s1aaoh.webp" /></a
      >
      <h2 class="project-title">
        <a href="projects/beatrice-no-30-type-revival">Beatrice No. 30</a>
      </h2>
      <p class="project-type">Type Design</p>
    </div>

    <!---------- PROJECT 2 ------------>

    <div class="project">
      <a href="/projects/marlborough-titling"
        ><img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/c_fill,w_872,f_auto,q_60/v1738916359/marlborought-titling-thumb__jowip0.jpg" /></a
      >
      <h2 class="project-title">
        <a href="projects/marlborough-titling">Marlborough Titling</a>
      </h2>
      <p class="project-type">Type Design</p>
    </div>

    <!---------- PROJECT 3 ------------>
  </section>
</BaseLayout>
