---
const title = "Home";
const description =
  "Annie Szafranski is a California based graphic designer and typographer designing editorial experiences across the web and in print.";

import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexPhotoBrick from "../components/IndexPhotoBrick.astro";
---

<BaseLayout {title} {description}>
  <section class="about">
    <h1>
      Annie Szafranski is a California-based designer, with an ever-expanding interest in type, web, and product.
      She just finished her year of study as a type design student through <a
        href="https://letterformarchive.org/type-west-online/"
        target="_blank">Type West</a
      > at the Letterform Archive.
    </h1>
  </section>

  <section class="project-grid">
    <!---------- PROJECT 1 ------------>

    <div class="project">
      <a href="/projects/primitiv-text">
          <IndexPhotoBrick fileName="Primitiv-Text_thumb_gc4qrs.jpg" alt="low res dark textured background from an old CRT TV with white type embedded into texture showing: Primitiv Text at an angle" />
       </a>

      <h2 class="project-title">
        <a href="projects/primitiv-text">Primitiv Text</a>
      </h2>
      <p class="project-type">Type Design</p>
    </div>

    <!---------- PROJECT 2 ------------>

    <div class="project">
      <a href="/projects/beatrice-no-30-type-revival">
        <IndexPhotoBrick fileName="beatrice-no-30_1_s1aaoh.webp" alt="snippet of an illustration by Gustave Dore from Dante's Divine Comedy featuring Beatrice, with an olive green overlay and Beatrice No. 30 written in a white serif font in the center." />
       </a>
      <h2 class="project-title">
        <a href="projects/beatrice-no-30-type-revival">Beatrice No. 30</a>
      </h2>
      <p class="project-type">Type Design</p>
    </div>

    <!---------- PROJECT 3 -----------

    <div class="project">
      <a href="/projects/marlborough-titling">
        <IndexPhotoBrick fileName="marlborought-titling-thumb__jowip0.jpg" alt="A plain bright vermillion color background with creme text on top in sans serif type stating: Introducing Marlborough Titling (centered)." />
      </a>
      <h2 class="project-title">
        <a href="projects/marlborough-titling">Marlborough Titling</a>
      </h2>
      <p class="project-type">Type Design</p>
    </div> -->

<!---------- PROJECT 4 ------------>

<div class="project">
  <a href="/projects/mixpanel-blog-redesign"
    ><img
      src="/images/mixpanel-signals-and-stories/signals-and-stories-primary.jpg"
    /></a
  >
  <h2 class="project-title">
    <a href="projects/mixpanel-blog-redesign"
      >Signals & Stories</a>
  </h2>
  <p class="project-type">Web Design</p>
</div>  


<!---------- PROJECT 5 ------------>

<div class="project">
  <a href="/projects/mixpanel-rebrand"
    ><img
      src="/images/mixpanel-rebrand/mixpanel-brand_15.jpg"
    /></a
  >
  <h2 class="project-title">
    <a href="projects/mixpanel-rebrand"
      >Mixpanel Rebrand</a>
  </h2>
  <p class="project-type">Brand & Web Design</p>
</div>


  </section>
</BaseLayout>
