---
const pageTitle = "info";
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';

---

<html lang="en">


	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | Annie Szafranski</title>
	</head>


	<body>
		<Header />
		<!-- <h1>{pageTitle}</h1>-->

		<main>
			<div class="grid-container">
				
			
				<section class="about">
						<p>Annie Szafranski is a California based designer and typographer designing editorial experiences across the web and in print. She is a Senior Designer at Mixpanel on the Brand and Interactive team, and a type design student in the Type West Online program for 2024 through the Letterform Archive—a dream! </p>
				
						<aside class="contact">
							<h3>Contact</h>
							<ul>
								<li><a href="https://www.linkedin.com/in/annieszafranski/?original_referer=https%3A%2F%2Fwww.annieszafranski.com%2F">LinkedIn</a></li>
								<li><a>Email</a></li>
								<li><a href="https://www.instagram.com/a.szaf/">Instagram</a></li>
								<li><a href="https://typo.social/@annie">Mastadon</a></li>
							</ul>
						</aside>
				
				</section>
				


				<section class="project-grid">
						<div class="project">
							<img src="/src/assets/images/mixpanel-signals-and-stories/signals-and-stories-primary.jpg">
							<h2 class="project-title">Signals & St</h2>
								<p class="project-type">Web Design</p>
						</div>

						<div class="project">
							<img src="/src/assets/images/beatrice-no-30/beatrice-no-30.jpg">
							<h2 class="project-title">Beatrice No. 30</h2>
								<p class="project-type">Type Design</p>
						</div>		

						<div class="project">
							<img src="/src/assets/images/mixpanel-rebrand/mixpanel-rebrand.webp">
							<h2 class="project-title">Mixpanel Rebrand</h2>
								<p class="project-type">Brand and Web Design</p>
						</div>	
						
						<div class="project">
							<img src="/src/assets/images/marlborough-titling/marlborough-titling.png">
							<h2 class="project-title">Marlborough Titling</h2>
								<p class="project-type">Type Design</p>
						</div>	

						<div class="project">
							<img src="/src/assets/images/taxes-retirement-home/taxes-retirement-home-album.jpg">
							<h2 class="project-title">Taxes: Retirement Home</h2>
								<p class="project-type">Album Design</p>
						</div>	

						<div class="project">
							<img src="/src/assets/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book.jpg">
							<h2 class="project-title">The Guide to Product Analytics</h2>
								<p class="project-type">Book Design</p>						</div>	

				</section>

				<section class="colophon">
					<h3>Colophon</h3>
					<p>This website was designed and built by Annie Szafranski using Astro. The typography is…</p>
				</section>



		</main>
	
	</div>

		<Footer />
		<script>
		  document.querySelector('.hamburger').addEventListener('click', () => {
			document.querySelector('.nav-links').classList.toggle('expanded');
		  });
		</script>
	  </body>
</html>
