---
const title = "Designer & Typographer";
const description =
  "Annie Szafranski is a California-based graphic designer and typographer designing editorial experiences across the web and in print.";

import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexPhotoBrick from "../components/IndexPhotoBrick.astro";
---

<BaseLayout {title} {description}>
  <section class="about">
    <h1>
      Hi, I’m a California-based graphic designer, typographer, and aspiring type designer.
      I recently completed a year-long type design program, <a
      href="https://typewest.letterformarchive.org/2024/typeface/primitiv-text/"
      target="_blank">Type West</a
    >, through the Letterform Archive to enrich my design practice—let’s work together.
    </h1>
  </section>

  <section class="project-grid">


<!---------- PROJECT 1 ------------>

<div class="project">
  <a href="/work/foam">
    <img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764462311/foam-logo-thumb_ndjqsd.png">
   </a>

  <h2 class="project-title">
    <a href="work/foam">foam</a>
  </h2>
  <p class="project-type">Logotype Design</p>
</div>


<!---------- PROJECT 2 ------------>


<div class="project">
    <a href="/work/primitiv-text">
        <img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764462310/primitiv-text-thumb_ylngtx.png">
     </a>

    <h2 class="project-title">
      <a href="work/primitiv-text">Primitiv Text</a>
    </h2>
    <p class="project-type">Type Design</p>
  </div>


<!---------- PROJECT 3 ------------>

<div class="project">
  <a href="/work/beatrice-no-30-type-revival">
    <img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764462309/beatrice-no-30-thumb_nmq0o0.png">
   </a>
  <h2 class="project-title">
    <a href="work/beatrice-no-30-type-revival">Beatrice No. 30</a>
  </h2>
  <p class="project-type">Type Design</p>
</div>



<!---------- Project 4 ----------->

<div class="project">
    <a href="/work/sarah-davachi-and-april-poster"
      ><img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764458115/sarah-davachi-poster-thumb_ocfpyc.png" alt="a photograph of 3 copies of the same book, lined up at an angle and laying flat on a black background. The book is titled: The Guide to Product Analytics. It is a black hardcover book with metallic silver foil debossing"
      /></a
    >
    <h2 class="project-title">
      <a href="work/sarah-davachi-and-april-poster"
        >Sarah Davachi & April</a>
    </h2>
    <p class="project-type">Poster Design</p> 
  </div>
  


  <!---------- Project 5 ----------->

<div class="project">
    <a href="/work/primitiv-text-process-manual"
      ><img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764458382/primitiv-text-process-manual-thumb_yahvjr.png"
      /></a
    >
    <h2 class="project-title">
      <a href="work/primitiv-text-process-manual"
        >Primitiv Text Process Manual</a>
    </h2>
    <p class="project-type">Book Design</p>
  </div>
  



  <!---------- Project 6 ------------>

<div class="project">
    <a href="/work/taxes-retirement-home-album-design"
      ><img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764462630/taxes-retirement-home-thumb_rlq888.png" alt="Photo of the CD angled at a distance on a back background. The CD cover has a painting of a ghost on it with the band name somewhat hidden in the fabric of the ghost"
      /></a
    >
    <h2 class="project-title">
      <a href="work/taxes-retirement-home-album-design">Taxes: Retirement Home</a>
    </h2>
    <p class="project-type">Album Design</p>
  </div>




<!---------- Project 4 ------------>

<div class="project">
    <a href="/work/april-webtape"
      ><img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967076/april-webtape-1_msdg4j.jpg" alt="A photograph of a CD standing up, front and center, in front of a bright white background. The CD cover is type heavy, with layers of transparency hiding different descriptions and credits of the CD itself. The album is called 'Webtape' by the band, April."
      /></a
    >
    <h2 class="project-title">
      <a href="work/april-webtape">April: Webtape</a>
    </h2>
    <p class="project-type">Album Design</p>
  </div>




<!---------- Project 6 ----------->

<div class="project">
  <a href="/work/the-guide-to-product-analytics-book-design"
    ><img
      src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book.jpg" alt="a photograph of 3 copies of the same book, lined up at an angle and laying flat on a black background. The book is titled: The Guide to Product Analytics. It is a black hardcover book with metallic silver foil debossing"
    /></a
  >
  <h2 class="project-title">
    <a href="work/the-guide-to-product-analytics-book-design"
      >The Guide to Product Analytics</a>
  </h2>
  <p class="project-type">Book Design</p>
</div>



<!---------- Project 6 ----------->

<div class="project">
    <a href="/work/curated-magazine"
      ><img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764459234/compass-curated-magazine_eupc13.png" alt="a photograph of 3 copies of the same book, lined up at an angle and laying flat on a black background. The book is titled: The Guide to Product Analytics. It is a black hardcover book with metallic silver foil debossing"
      /></a
    >
    <h2 class="project-title">
      <a href="work/curated-magazine"
        >Compass Curated</a>
    </h2>
    <p class="project-type">Book Design</p>
  </div>
  







<!---------- TYPE PROJECT 3 ----------->

<div class="project">
  <a href="/work/marlborough-titling">
    <img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764463341/marlborough-titling-thumb_losoyc.png">
  </a>
  <h2 class="project-title">
    <a href="work/marlborough-titling">Marlborough Titling</a>
  </h2>
  <p class="project-type">Type Design</p>
</div>


<!---------- TYPE PROJECT 3 ----------->

<div class="project">
    <a href="/work/dame-fest-lettering">
      <img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764463532/dame-fest-logo_uxv9qn.png">
    </a>
    <h2 class="project-title">
      <a href="work/dame-fest-lettering">Dame Fest</a>
    </h2>
    <p class="project-type">Lettering</p>
  </div>



<!---------- TYPE PROJECT 3 ----------->

<div class="project">
    <a href="/work/april-lettering">
      <img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764465702/arpil-lettering-thumb_qql64p.png">
    </a>
    <h2 class="project-title">
      <a href="work/april-lettering">April Merch</a>
    </h2>
    <p class="project-type">Lettering</p>
  </div>




  </section>
</BaseLayout>
