---
---
<script type = "text/javascript">

const pageTitle = "Info";

const identity = {
  firstName: "Annie",
  country: "United States",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
	<body>
        <nav>
            <ul>
                <li><a href="/">Info</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/visual-journal">Visual Journal</a></li>
            </ul>
        </nav>

		<h1>{pageTitle}</h1>
        <p>Annie Szafranski is a California based graphic designer and typographer designing editorial experiences across the web and in print. She is a student in the Type West Online program for 2024, a year-long type design program through the Letterform Archive—a dream!</p>
		<p>She's not taking any additional work this year, but would absolutely love to be considered for new type-driven projects in 2025.
You can take a look at select projects and find occasional updates on the blog.</p>
	</body>
</html>
