---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Projects</title>
	</head>
	<body>
        <nav>
            <ul>
                <li><a href="/">Info</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/visual-journal">Visual Journal</a></li>
            </ul>
        </nav>
		<h1>Projects</h1>
	</body>
</html>
