---
const pageTitle = "resume";
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>


		<section id="select-projects">
			<div class="project-grid">

				<div class="project-card">
					<img src="project1-image.jpg" alt="Project 1 Image">
						<div class="card-content">
							<h2 class="project-title">Project 1</h2>
							<p class="project-description">Type design</p>
							<p class="project-link"><a href="#">View Project</a></div>
						</div>
				</div>

				<div class="project-card">
					<img src="project1-image.jpg" alt="Project 2 Image">
						<div class="card-content">
							<h2 class="project-title">Project 2</h2>
							<p class="project-description">Type design</p>
							<p class="project-link"><a href="#">View Project</a></div>
						</div>
				</div>

				<div class="project-card">
					<img src="project1-image.jpg" alt="Project 3 Image">
						<div class="card-content">
							<h2 class="project-title">Project 3</h2>
							<p class="project-description">Type design</p>
							<p class="project-link"><a href="#">View Project</a></div>
						</div>
				</div>


			</div>
			
		<Footer />
	</body>
</html>
