---
const title = "Design Projects";
const description =
  "Select type-driven projects from recent years across graphic design, editorial design, web design and type design.";

import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
---


		<BaseLayout {title} {description}>
        <section class="full-project-grid">
          <!---------- PROJECT 1 ------------>

          <div class="project">
            <a href="/work/primitiv-text"
              ><img
                src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738917707/Primitiv-Text_thumb_gc4qrs.jpg"
                alt="low res dark textured background from an old CRT TV with white type embedded into texture showing: Primitiv Text at an angle"
              /></a
            >
            <h2 class="project-title">
              <a href="/work/primitiv-text">Primitiv Text</a>
            </h2>
            <p class="project-type">Type Design</p>
          </div>

          <!---------- PROJECT 2 ------------>

          <div class="project">
            <a href="/work/beatrice-no-30-type-revival"
              ><img
                src="https://res.cloudinary.com/dzv7ytxjh/image/upload/c_fill,w_1000/v1738893268/beatrice-no-30_1_s1aaoh.webp"
                alt="snippet of an illustration by Gustave Dore from Dante's Divine Comedy featuring Beatrice, with an olive green overlay and Beatrice No. 30 written in a white serif font in the center."
              /></a
            >
            <h2 class="project-title">
              <a href="projects/beatrice-no-30-type-revival">Beatrice No. 30</a>
            </h2>
            <p class="project-type">Type Design</p>
          </div>

          <!---------- PROJECT 3 ------------>

          <div class="project">
            <a href="/work/marlborough-titling"
              ><img
                src="https://res.cloudinary.com/dzv7ytxjh/image/upload/c_fill,w_1000/v1738916359/marlborought-titling-thumb__jowip0.jpg"
                alt="A plain bright vermillion color background with creme text on top in sans serif type stating: Introducing Marlborough Titling (centered)."
              /></a
            >
            <h2 class="project-title">
              <a href="projects/marlborough-titling">Marlborough Titling</a>
            </h2>
            <p class="project-type">Type Design</p>
          </div>

          <!---------- PROJECT 4 ------------>

          <div class="project">
            <a href="/work/april-webtape"
              ><img
                src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967076/april-webtape-1_msdg4j.jpg"
              /></a
            >
            <h2 class="project-title">
              <a href="projects/april-webtape">April: Webtape</a>
            </h2>
            <p class="project-type">Album Design</p>
          </div>

          <!---------- PROJECT 5 ------------>

          <div class="project">
            <a href="/work/taxes-retirement-home-album-design"
              ><img
                src="/images/taxes-retirement-home/taxes-retirement-home-album_1.jpg"
              /></a
            >
            <h2 class="project-title">
              <a href="projects/taxes-retirement-home-album-design"
                >Taxes: Retirement Home</a>
            </h2>
            <p class="project-type">Album Design</p>
          </div>


         <!---------- PROJECT 8 ------------>

                  <div class="project">
                    <a href="/work/mixpanel-blog-redesign"
                      ><img
                        src="/images/mixpanel-signals-and-stories/signals-and-stories-primary.jpg"
                      /></a
                    >
                    <h2 class="project-title">
                      <a href="projects/mixpanel-blog-redesign"
                        >Signals & Stories</a>
                    </h2>
                    <p class="project-type">Web Design</p>
                  </div>  


          <!---------- PROJECT 7 ------------>

          <div class="project">
            <a href="/work/mixpanel-rebrand"
              ><img
                src="/images/mixpanel-rebrand/mixpanel-brand_15.jpg"
              /></a
            >
            <h2 class="project-title">
              <a href="projects/mixpanel-rebrand"
                >Mixpanel Rebrand</a>
            </h2>
            <p class="project-type">Brand & Web Design</p>
          </div>




          <!---------- PROJECT 8 ------------>

          <div class="project">
            <a href="/work/the-guide-to-product-analytics-book-design"
              ><img
                src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book.jpg"
              /></a
            >
            <h2 class="project-title">
              <a href="projects/the-guide-to-product-analytics-book-design"
                >The Guide to Product Analytics</a>
            </h2>
            <p class="project-type">Book Design</p>
          </div>


         
         <!---------- PROJECT 9 ------------>

          <div class="project">
            <a href="/work/curated-magazine"
              ><img
                src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805446e_60286ade3653237969e838a0_Curated-Magazine-Front_ayn2it.jpg"
              /></a
            >
            <h2 class="project-title">
              <a href="projects/curated-magazine"
                >Curated Magazine</a>
            </h2>
            <p class="project-type">Book Design</p>
          </div>

          
        </section>
  
		</BaseLayout>


