
    <footer>
      <div class="footer-links">
        <ul>
            <li><a href="https://www.linkedin.com/in/annieszafranski/?original_referer=https%3A%2F%2Fwww.annieszafranski.com%2F">LinkedIn</a></li>
            <li><a href="mailto:annieszaf@proton.me">Email</a></li>
            <li><a href="https://www.flickr.com/photos/a_szafranski/" rel="me">Flickr</a></li>
            <li><a href="https://typo.social/@annie" rel="me">Mastodon</a></li>
        </ul>
    </div>
    <p>&copy; 2025 Anne Szafranski. All Rights Reserved.</p>
    </footer>