
    <footer>
      <div class="footer-links">
        <ul>
            <li><a href="https://www.linkedin.com/in/annieszafranski/?original_referer=https%3A%2F%2Fwww.annieszafranski.com%2F">LinkedIn</a></li>
            <li><a href="mailto:annieszaf@proton.me">Email</a></li>
            <li><a href="https://typo.social/@annie" rel="me">Mastodon</a></li>
            <li><a href="https://www.flickr.com/photos/a_szafranski/">Flickr</a></li>
        </ul>
    </div>
    <p>&copy; <span id = "copyright-year"></span> Anne Szafranski. All Rights Reserved.</p>
    </footer>

    <script>
      document.querySelector("#copyright-year").textContent = new Date()
        .getFullYear()
        .toString();
    </script>