---
import Navigation from '../components/Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
    <logo>ANNIE SZAFRANSKI</logo>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>