
<div class="nav-links">
  <ul>
        <li><a href="/design-portfolio/info">Info</a></li>
        <li><a href="/design-portfolio/projects">Projects</a></li>
        <li><a href="/design-portfolio/resume">Resume</a></li>
        <li><a href="/design-portfolio/visual-journal">Visual Journal</a></li>
    </ul>
</div>