---
import Hamburger from "./Hamburger.astro";
---

<nav>
    <logo><a href="/">Annie Szafranski</a></logo>
    <Hamburger />
      <div class="nav-links">
        <ul>
           <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/info">Info</a></li>
            <li><a href="/">Work</a>        
            <li><a href="/visual-journal">Visual Journal</a></li>
        </ul>
      </div>
</nav>