<nav>
    <logo><a href="/design-portfolio/">Annie Szafranski</a></logo>
      <div class="nav-links">
        <ul>
            <li><a href="/design-portfolio/">Info</a></li>
            <li><a href="/design-portfolio/resume">Resume</a></li>
        </ul>
</div>
</nav>

