<nav>
    <logo><a href="/">Annie Szafranski</a></logo>
      <div class="nav-links">
        <ul>
            <li><a href="/">Info</a></li>
            <li><a href="/resume">Resume</a></li>
        </ul>
</div>
</nav>

