---
import Hamburger from "./Hamburger.astro";
---

<nav>
    <logo><a href="/">Annie Szafranski</a></logo>
    <Hamburger />
      <div class="nav-links">
        <ul>
            <li><a href="/">Work</a></li>
            <li><a href="/info">Info</a></li>
                      <!--
            <li><a href="/projects">Projects</a></li>
             -->
        </ul>
</div>
</nav>

