---
const pageTitle = "Beatrice No. 30";
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation.astro';
import '../../styles/global.css';
import Logotype from '../../components/Logotype.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/public/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | Annie Szafranski</title>
		<meta name="author" content="Annie Szafranski" />
		<meta name="description" content="Reviving a 19th Century typeface for Type West." />
		<Logotype />
	</head>
	<body>
		<Navigation/>

			<main class="grid-container">

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>Reviving a 19th Century typeface for Type West</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>





<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">
                    <figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_0.jpg" alt="Opening introductory card with a green overlay over an illustration from Dante's Purgatory with Beatrice No. 30 written front and center">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_1.jpg" alt="Open spread of original source material from Dante. Opening to the same illustration previewed in the first image.">
						<figcaption></figcaption>
					</figure>


					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_2.jpg" alt="Additional source material pulled for reference from Bruce's Specimen Book and Bruce Old Style No. 31">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_3.jpg" alt="Photograph of an open spread of Dante's Inferno on a table, at an angle surrounded by light.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_4.jpg" alt="Photograph of a 10x micro lens / loupe on top of a page of Dante's Pergatory.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_5.jpg" alt="Preview of original type referenced next to my type work for Beatrice No. 30">
						<figcaption></figcaption>
					</figure>


					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_7.jpg" alt="Large capital A next to a lowercase a using black and an olive green">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_8.jpg" alt="Olive green background with large black captial letters spelling: VENGEANCE BRIGHTNESS and CELESTIAL">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_9.jpg" alt="Black background with olive green text pulling text from Dante's Purgatory written in Beatrice No. 30">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_10.jpg" alt="Open spread of a book with the original font replaced and swapped for Beatrice No. 30">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_11.jpg" alt="Preview of a small paragraph set in different sizes using Beatrice No. 30">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img src="/public/images/beatrice-no-30/beatrice-no-30_12.jpg" alt="Full character preview set of Beatrice No. 30 in light grey on a black background">
						<figcaption></figcaption>
					</figure>

				</section>

				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <article class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">Why A Type Revival?</h3>
                        <p>Type revivals hold a rich history in type design and play an essential role in the development and transformation of typefaces across changing technologies and time periods. They can be true to form or take on a new face of its own—transforming into something quite different. To introduce ourselves to this practice and to familiarize ourselves with the technology of our time, students of Type West were tasked with starting our own dialogue between a source of early printing from the metal type era, pre-twentieth century, and how we would study, understand, and interpret those those letterforms—bringing them into a digital space.</p>

                        <p>Beatrice No. 30 is a type revival of a late 19th century text type, Bruce Old Style No. 20 (and some help from Bruce Old Style No. 30)—and my first term project for Type West Online. I worked on this typeface over the course of 9 weeks. For the source material, I selected a library bound edition of Book II of Dante Alighieri’s Divine Comedy: <em><a href="https://www.gutenberg.org/files/8795/8795-h/8795-h.htm#cantoII.1" target="_blank">The Vision of Purgatory</em></a>. It was Translated by The Rev. Henry Francis Cary (along with critical explanatory notes) and has beautiful illustrations by <a href="https://en.wikipedia.org/wiki/Gustave_Dor%C3%A9" target="_blank">Gustave Doré.</a></p>

                        <p>View on the <a href="https://typewest.letterformarchive.org/2024/revivals/" target="_blank">Letterform Archive website</a>, along with the revivals of the whole Type West Online 2024 cohort.</p>
                
						<h3 class="description-heading">Credit</h3>
						<p>Beatrice No. 30 was created with the excellent guidance and support of the Type West Online instructors and teaching assistants.</p>
						<p>Lead Instructor: Sahar Afshar<br>
						Co-Instructor: Michele Patanè<br>
						Type History and Theory Instructor: Ewan Clayton<br>
						TAs: Nora Warschewski, Allie Schmitz, and Kurt F. Shaffert</p>

					
				</article>
            </main>

		<Footer />
	</body>
</html>
