---
const pageTitle = "Marlborough Titling";
import Footer from '../../components/Footer.astro';
import Navigation from '../../components/Navigation.astro';
import '../../styles/global.css';
import Logotype from '../../components/Logotype.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | Annie Szafranski</title>
          <meta name="author" content="Annie Szafranski" />
          <meta name="description" content="Type design concept based on a vintage hand-painted video store signage." />
          <Logotype />
	</head>
	<body>
		<Navigation />

		<main class="grid-container">

     <!--   <div class="project-case-study"> --> 

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>A type design concept based on vintage hand-painted video store signage</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>





<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_01.png" alt="Intro to Modern Type Design">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_02.png" alt="Introducing Marlborough Titling v0.1">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_03.png" alt="A mono-weight, semi-condensed, grotesk, sans serif.">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_04.png" alt="Waterfall of text">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_05.png" alt="Full character set displayed">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_06.png" alt="Photo of original signage Marlborough takes inspiration from">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_07.png" alt="Photo close up of letters G, M and R">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_08.png" alt="Character sketches overlayed on photo">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_09.png" alt="Uppercase and lowercase letter samples">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_10.png" alt="Marlborough titling in use">
                         <figcaption></figcaption>
                    </figure>

                    <figure>
                         <img src="/public/images/marlborough-titling/marlborough-titling_11.jpg" alt="Photo of original lettered signage in the design studio">
                         <figcaption></figcaption>
                    </figure>
               
               </section>




				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <article class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">About the Project</h3>
                        <p>To help kick off 2023, I signed up for a 10-week type design workshop, <a href="https://letterformarchive.org/events/view/intro-to-modern-type-design-spring-2023/" target="_blank">Introduction to Modern Type Design</a>, through the <a href="https://letterformarchive.org/" target="_blank">Letterform Archive</a>. It was my first official Letterform Archive workshop after years of support from afar, and also the first workshop I've taken specific to type design. Kel Troughton of <a href="https://overlaptype.com/" target="_blank">Overlap Type</a> taught the class, along with <a href="https://jamesplattner.com/" target="_blank">James Plattner</a>, who TA'd (he also just released <a href="https://store.overlaptype.com/fonts/outgo" target="_blank">Outgo</a> through Overlap Type). We had some lovely surprise guests towards the end of the workshop, like Libbie Bischoff of <a href="https://www.typedunord.com/" target="_blank">Type Du Nord</a> and James Edmondson of <a href="https://ohnotype.co/" target="_blank">OhnoTypeCo</a>—super inspiring!</p>                    
                        <p>The goal of the IMTD workshop was to get our feet wet in the world of type design and finish the class with a type concept of our own that we continually developed throughout the class. Due to the length of the course (and the level), we certainly weren't expected to come out with a complete type family. Instead, we'd have all the uppercase and lowercase letterforms, numerals, and select characters—whatever we had time for.</p>
                        <p>Thus, Marlborough Titling was born! (v0.1). Marlborough Titling is shamelessley inspired by an old hand painted sign from the local video store that shut down years ago—Kensington Video. I have been obssesseed with this sign and fortunately had the pleasure of meeting the person who hand-painted it for their family-owned business. The name comes from the street where the sign was hand-painted.</p>
                        <p>Working on Marlborough Titling has definitely been challenging, but also so much fun and an incredible learning experience as a graphic designer. It's a lot more complicated than it looks. Some of the biggest challenges for me, were getting the weights balanced on all the characters (including between uppercase and lowercase), setting the best character spacing, and creating the punctuation—so a good amount of it.</p>                    
                        <p>One of my favorite parts of this project was envisioning and creating the lowercase character set out of reference material that only included uppercase letters. Thinking about the specific qualities and characteristics that made up Marlborough Titling was a fun exercise. I hope to acquire the software soon and jump back into creating Marlborough Titling in a complete regular weight in order to focus on the edits I need to make without expanding the scope of my first type design project.</p>

                   <h3 class="description-heading">Workshop</h3>
                         <p><a href="https://letterformarchive.org/events/view/intro-to-modern-type-design-spring-2023/" target="_blank">Introduction to Modern Type Design</a> Taught by Kel Troughton through the <a href="https://letterformarchive.org/" target="_blank">Letterform Archive</a></p>
					
                </article>
               </main>

		<Footer />
	</body>
</html>
