---
const pageTitle = "Mixpanel Rebrand";
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />

		<main>
			<div class="grid-container">

     <!--   <div class="project-case-study"> --> 

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>Reimagining and evolving the brand for a 14-year-old analytics company</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>





<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_1.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_2.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_3.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_4.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_5.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_6.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_7.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_8.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_9.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_10.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_11.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_12.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_13.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_14.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_15.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_16.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_17.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_18.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_19.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_20.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_21.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_22.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_23.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_24.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_25.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_26.jpg">
                    <img src="/src/assets/images/mixpanel-rebrand/mixpanel-brand_27.jpg">
                  
				</section>

				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <section class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">About the Rebrand</h3>
                        <p>Founded in 2009, Mixpanel was designed to remove the abstractions of product analytics and make it easy to get answers from your data. A lot has changed since then and with Mixpanel considered pioneers in the space, the company needed to evolve, expand their vision, and rethink the brand from end to end. This started with conversations, interviews, and a fully developed brand brand strategy—to what we have today on the new mixpanel.com. Analytics for everyone.</p>
                        <p>This was an extensive, collaborative, company-wide initiative with direct impact. It's incredibly rare to go through a robust rebrand in-house, but the Mixpanel design team had the opportunity and team to do so, with the help of essential collaborators and specialists throughout the project such as Jeremy Mickel of <a href="https://mckltype.com/custom/" target="_blank">MCKL type</a> and <a href="http://cenjun.com/" target="_blank">Jun Cen.</a></p>
                        <p>The entire rebrand took over a year to complete. My contributions to this large and collaborative project was working in the weeds with my fellow colleagues from start to finish. This included visual research for art direction, creating logo concepts, pushing art direction, typographic research (testing and pairing), and presenting directions and progress.</p>
                        <p>In the midst of the brand work, our team grew and I joined the new interactive team to focus on the mixpanel.com experience, where the new brand would be front and center, and therefore redesigned completely. I worked closely with our small interactive team comprised of designers and engineers, while working closely with brand to ensure we were all visually aligned.</p>
                        <p>This was a massive project that took so much time and effort. If you'd like to learn more of the details, I've included some additional write-ups below!</p>

                    
                    <h3 class="description-heading">Credit</h3>
                    <h4 class="description-heading">Brand Team</h4>
                        <p>Alex Shepherd, Annie Szafranski, Erik Blad, Ka Lee, Mark Johnson, Michael Casebolt, Paul Jun, Ryan Howard, Tara Odorizzi</p>
                    <h4 class="description-heading">Brand Collaborators</h4>
                        <p>Chris Armstrong, Jeremy Mickel, Jon Howell, Jun Cen, Lorin Schaecher, Michael Taylor</p>
                    <h4 class="description-heading">Engineering</h4>
                        <p>Andrew Leap, Austin Pray, Erik Erikson, Jess Wolvington, Jordan Matyiku Nuñez, Krishna Venkatachalam, Lindsey Bradford, RhoEun Song, Scot Matson, Tiffany Qi</p>
                    <h4 class="description-heading">Marketing/PMM</h4>
                        <p>Andrew Rhodes, Anya Pratskevich, Elena Torres Marcellan, Laura Krieger, Lauren Volpi, Perla Virgen-Silva, Serene Ho, Tiffany Chen, Vijay Jayaram</p>
                    <h4 class="description-heading">Product Design</h4>
                    <p>Alex Coleman, Brent Palmer, David Arjun, Jon Yablonski, Julia Luo, Kaitlin Kovacevich, Kaitlin Siu, Mary Carnes, Matt Vaccaro, Mike Murray, Ryan Davis</p>



					<h3 class="description-heading">Read more</h3>
                    <p><a target="_blank" href="https://www.underconsideration.com/brandnew/archives/new_logo_and_identity_for_mixpanel_done_in_house.php">"There is More Where Data Came From"</a> by Armin Vet, Brand New</p>
                    <p><a target="_blank" href="https://mixpanel.com/blog/brand-is-behavior/">"Brand is behavior"</a> by Paul Jun, Principal Brand Strategist, Mixpanel</p>
                    <p><a target="_blank" href="https://mixpanel.com/blog/tech-stack-website-design/">"‍The new Mixpanel.com: How to marry design with the right tech stack"</a> by Erik Erickson, Senior Software Engineer, Mixpanel</p>
                    <p><a target="_blank" href="https://mixpanel.com/blog/our-next-step-analytics-for-everyone/">"‍‍Our next step: Analytics for everyone"</a> by Amir Movafaghi, CEO, Mixpanel</p>


					
					</section>
            </div>

		<Footer />
	</body>
</html>
