---
const title = "Curated Magazine";
const description = "Magazine design template for Compass Curated";

import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout {title} {description}>
  <!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

  <section class="project-info">
    <h1>{title}</h1>
    <h2>{description}</h2>
    <a class="read-more" href="#project-description">Read More</a>
  </section>

  <!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->

  <section class="project-photos">
    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805446e_60286ade3653237969e838a0_Curated-Magazine-Front_ayn2it.jpg"
        alt="Photo of the CD angled at a distance on a back background. The CD cover has a painting of a ghost on it with the band name somewhat hidden in the fabric of the ghost "
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805445b_60286bcb05a0873285b8ddce_curated-magazine-front-and-back_l49swg.jpg"
        alt="Photo of the CD angled at a distance on a back background. The CD cover has a painting of a ghost on it with the band name somewhat hidden in the fabric of the ghost "
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805445f_6028915c5c43cce10cca5cc8_curated-magazine-template-samples_aihr4f.gif"
        alt="Photo of the CD angled at a distance on a back background. The CD cover has a painting of a ghost on it with the band name somewhat hidden in the fabric of the ghost "
      />
      <figcaption></figcaption>
    </figure>
  </section>

  <!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->

  <article class="project-description">
    <a id="project-description"></a>

    <h3 class="description-heading">About the Project</h3>
    <p>
      Curated magazine features luxury properties from across the nation under the <a href="http://luxuryatcompass.com" id="">Luxury Division</a> at Compass. <em id="">Curated</em> provides a new opportunity for luxury agents selling some of the most expensive properties to gain exposure to their most coveted listings to a highly targeted audience of potential buyers.
    </p>

    <h3 class="description-heading">Process & Challenges</h3>
    <p>
      I had the privilege of co-leading the design for the first issue of <em>Curated</em> with a colleague on the opposite coast. Together, we worked quickly from concept, to leading a small design team, to overseeing final print production in just a few months.
    </p>
    <p>
      There were a few key design requirements for this project from leadership that needed to be addressed. The first was a 12pt font size minimum for agent information so readability wouldn’t be a concern. The second was the inclusion of a QR code for every listing so potential buyers could quickly access the listing with the snap of a photo. With these contributing factors in mind, the editorial design system was created. With the concern over the remaining economy of the page, we limited the amount of information we collected from agents, meaning, the description of the property needed to be limited to a minimal headline that captured the essence of the home, followed by the most essential property information. The gif above is a small example of the template structure we built that could be mixed and matched accordingly, with all of these considerations. Aside from a variety of layout options created in master pages in InDesign, paragraph styles were also created so the workflow could be as streamlined and efficient as possible for the designers that helped us implement all the agent information into our system.
    </p>
    <p>
      Some of the challenges that we ran into mostly came from the data and content itself. One of the most common being low res images we were frequently flagging and requesting high quality versions of. Another challenge was on the topic of QR codes, though it is a quick and easy way to be directed to a specific URL, it does allow for more room for error when used on every page of a magazine, for every single listing. However, it isn’t just that. Due to the impermanent state of a property and its agent, paired with the permanent state of print, some of the QR codes and listings themselves were outdated by the time they were printed, though we continually checked listings to prevent this until our cut-off date. Lastly (but certainly not the last challenge), on a more high-level POV, our main challenge was to make an elevated luxury experience that didn’t feel like a book of property ads, which is very difficult when you’re given the photography to work with from agents, and not every interior is that.
    </p>
    
    <h3 class="description-heading">Outcome</h3>
    <p>Together, with our team, we created a design system that features all participating agents and their listings in an elegant way, with enough variability within the system to maintain interest across all 200 pages. In total, around 45,000 print issues were ordered and there’s a growing waitlist for the second issue. This was a win for the company and provided a new way for select agents to market their listings strategically. You can view the full digital version <a href="https://www.luxuryatcompass.com/curated" id="">here</a>.<br></p>

    <h3 class="description-heading">Project Credits</h3>
    <p>
      Design Direction: Christian Cox  <br />
      Interior Editorial Design System: Annie Szafranski <br />
      Design Co-Leads: Christian Cox and Annie Szafranski <br />
      Designers: Kevin Sherry, Jonathan Maghen, Leslie Wilkins, and Darnell Lamont<br />
    </p>

    <h3 class="description-heading">Type Credits</h3>
    <p>
      <a href="https://www.colophon-foundry.org/custom-projects/compass" target="_blank"
        >Compass Serif and Compass Sans</a
      > by Colophon Foundry<br />
    </p>
  </article>
</BaseLayout>
