---
const title = "Curated Magazine";
const description = "Magazine Design and Editorial System for Compass Curated";

import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout {title} {description}>
  <!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

  <section class="project-info">
    <h1>{title}</h1>
    <h2>{description}</h2>
    <a class="read-more" href="#project-description">Read More</a>
  </section>

  <!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->

  <section class="project-photos">
    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805446e_60286ade3653237969e838a0_Curated-Magazine-Front_ayn2it.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805445b_60286bcb05a0873285b8ddce_curated-magazine-front-and-back_l49swg.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>


    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1783577496/IMG_9633_MD_kvsmhj.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1783577492/IMG_3366_MD_ztfy77.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1783577492/IMG_3348_MD_d7qvrv.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1783577492/IMG_3350_MD_g0lljv.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>


    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1783578370/IMG_3337_MD_uunhk0.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>


    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1783577492/IMG_3347_MD_ywceuk.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>




    <figure>
      <img
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1738967828/66c0f57f30baf2db2805445f_6028915c5c43cce10cca5cc8_curated-magazine-template-samples_aihr4f.gif"
        alt=""
      />
      <figcaption></figcaption>
    </figure>
  </section>



  <!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->

  <article class="project-description">
    <a id="project-description"></a>

    <h3 class="description-heading">About the Project</h3>
    <p>
      Curated magazine features luxury properties from across the nation under the <a href="http://luxuryatcompass.com" id="">Luxury Division</a> at Compass. <em id="">Curated</em> provides a new opportunity for luxury agents selling some of the most expensive properties to gain exposure to their most coveted listings to a highly targeted audience of potential buyers.
    </p>

    <h3 class="description-heading">Process & Challenges</h3>
    <p>
      I had the privilege of co-leading the design for the first issue of <em>Curated</em> with a colleague on the opposite coast. Together, we worked quickly from concept, to leading a small design team, to overseeing final print production in just a few months.
    </p>
    <p>
      There were a few key design requirements from stakeholders that needed to be addressed. The first was a 12pt font size minimum for agent information so readability wouldn’t be a concern—a wild request we couldn’t successfully push back on. The second was the inclusion of a QR code for every listing so potential buyers could quickly access listings with the snap of a photo. With these factors in mind, the editorial design system was created. Due to limited remaining page space, content requirements we requested from agents included a headline that captured the essence of the home, 1-3 photos, and only the most essential property information. The GIF above is a small example of the flexible template structure, allowing for variety and flexibility of the surrounding pages and the content itself. This ensured a streamlined and organized workflow for designers who worked on this magazine and its subsequent issues.
    </p>
    <p>
      Some of the challenges we ran into came from the data and content. One of the most common was low-res images, which we frequently flagged and requested high-quality versions of. Another was QR codes, which don’t allow room for error when used on every page of a magazine. Due to the temporary state of a listing and the permanence of print, some QR codes and listings were outdated by the time they were printed—though we continually checked listings to prevent this until our final cut-off date. Lastly, our main challenge was to create an elevated luxury experience that didn’t feel like a book of luxury property ads, which is very difficult when it is a luxury book of property ads.
    </p>
    
    <h3 class="description-heading">Outcome</h3>
    <p>Together, with our team, we created a design system that features all participating agents and their listings in an elegant way, with enough variability within the system to maintain interest across all 200 pages. In total, around 45,000 print issues were ordered and there’s a growing waitlist for the second issue. This was a win for the company and provided a new way for select agents to market their listings strategically. You can view the full digital version <a href="https://www.luxuryatcompass.com/curated" id="">here</a>.<br></p>

    <h3 class="description-heading">Project Credits</h3>
    <p>
      Cover Design: Christian Cox  <br />
      Interior Editorial Design System: Annie Szafranski <br />
      Design Co-Leads: Christian Cox and Annie Szafranski <br />
      Designers: Kevin Sherry, Jonathan Maghen, Leslie Wilkins, and Darnell Lamont<br />
    </p>

    <h3 class="description-heading">Type Credits</h3>
    <p>
      <a href="https://www.colophon-foundry.org/custom-projects/compass" target="_blank"
        >Compass Serif and Compass Sans</a
      > by Colophon Foundry<br />
    </p>
  </article>
</BaseLayout>
