---
const title = "foam Branding";
const description = "Branding for a small tech startup.";

import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout {title} {description}>
  <!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

  <section class="project-info">
    <h1>{title}</h1>
    <h2>{description}</h2>
    <a class="read-more" href="#project-description">Read More</a>
  </section>

  <!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->

  <section class="project-photos">

    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1767851891/foam-01_kaffgz.png"
        alt=""
      />
      <figcaption></figcaption>
    </figure>


    <figure>
        <img
          style="background: rgb(6, 6, 6);"
          loading="lazy"
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/w_2800,f_auto,q_60/v1767851891/foam-02_rggqzr.png"
          alt=""
        />
        <figcaption></figcaption>
      </figure>




      <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774561503/foam-04_r5r0st.png"
          alt=""
        />
        <figcaption></figcaption>
      </figure>


      <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774561505/foam-05_fovrmp.png"
          alt=""
        />
        <figcaption></figcaption>
      </figure>


      <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774562066/foam-10_xyccqg.jpg"
          alt=""
        />
        <figcaption></figcaption>
      </figure>


          <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774561503/foam-06_bextk2.jpg"
          alt=""
        />
        <figcaption></figcaption>
      </figure>


      <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774561503/foam-07_ba4d50.jpg"
          alt=""
        />
        <figcaption></figcaption>
      </figure>


      <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774560065/foam-08_cl5xc4.jpg"
          alt=""
        />
        <figcaption></figcaption>
      </figure>


      <figure>
        <img
          src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1774561503/foam-09_yfrcen.jpg"
          alt=""
        />
        <figcaption></figcaption>
      </figure>

      


  </section>

  <!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->

  <article class="project-description">
    <a id="project-description"></a>

    <p><em>
      Note: This was my first freelance project after leaving my last job. I have since gained a firmer stance on AI, 
      so this is the first and last AI product I will do any work for, as I am fundamentally against it. AI is at odds with 
      the people, our creativity, our livelihood, and our collective future.
    </em></p>


    <h3 class="description-heading">About the Project</h3>
    <p>
        foam is a tool that spots production issues in code as they first occur, without an engineer spending hours debugging. foam helps explain what went wrong, why, and suggests how an engineer can fix it.
    </p>
    <p>
        I worked directly with the co-founders to quickly create a mini brand to help solidify their identity while raising funding. They wanted to present themselves in the market as a friendly coworker that is helpful and precise. The brand included a fully custom logotype, color palette, figma design library, type selections, email templates, a slide deck template, and a general landing page.
    </p>

    <p>
      The logotype was inspired significantly by the name itself and how they wanted to position themselves in the market. 
      The logotype was ultimately created through a series of overlapping contours, and included an optical logo (small and large) for size-dependent use, like navigation versus larger marketing usage.
  </p>

  </article>
</BaseLayout>
