---
const title = "Primitiv Text Process Manual";
const description =
  "A process book designed for Primitiv Text.";

const url = "https.www.annieszafranski.com/work/primitiv-text-process-manual";
  import "../../styles/global.css";
import BaseLayout from "../../layouts/BaseLayout.astro";

---

<BaseLayout {title} {description}>
  <!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

  <section class="project-info">
    <h1>{title}</h1>
    <h2>{description}</h2>
    <a class="read-more" href="#project-description">Read More</a>
  </section>

  <!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->

  <section class="project-photos">

    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/w_2800,f_auto,q_auto/v1764470931/primitiv-text-process-manual-1_rt2mcm.jpg"
        alt="select scans of a wire-o bound process book for Primitiv Text, showing different spreads in gif form"
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/w_2800,f_auto,q_auto/v1764470932/primitiv-text-process-manual-2_v7hnor.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>


    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/w_2800,f_auto,q_auto/v1764470932/primitiv-text-process-manual-5_ghqvni.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>


    <figure>
      <img
        style="background: rgb(255, 255, 255);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/w_2800,f_auto,q_auto/v1764470931/primitiv-text-process-manual-6_wwg5ea.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        style="background: rgb(255, 255, 255);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764470932/primitiv-text-process-manual-7_qp9zjp.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764470931/primitiv-text-process-manual-8_cdswwe.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764470931/primitiv-text-process-manual-9_ujodym.jpg"
        alt=""
      />
      <figcaption></figcaption>
    </figure>

    <figure>
      <img
        style="background: rgb(6, 6, 6);"
        loading="lazy"
        src="https://res.cloudinary.com/dzv7ytxjh/image/upload/v1764470933/primitiv-text-process-manual-10_k7ntwj.jpg"
        alt= ""
      />
      <figcaption></figcaption>
    </figure>

</section>

  <!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->

  <article class="project-description">
    <a id="project-description"></a>

    <h3 class="description-heading">About the Project</h3>
    <p>
      This 36 page, wire-o bound, book was designed to show and highlight the process of designing <a href="https://annieszafranski.com/work/primitiv-text/">Primitiv Text</a>, a typeface inspired by oscillated waveforms and synthesizer manuals. Primitiv Text is a typeface designed while in the year-long type design program, Type West, through the Letterform Archive.
    </p>
    <p>
      With inspiration coming from synthesizers and their technical manuals, it was only fitting to design the process book as its own technical manual. Inside the 36 page book are descriptions of different stages within the project, workshops that helped define the design, and design decisions that were made along the way. The contents of the book take up all of the available space, making for a somewhat dense viewing experience, much like a technical manual.
    </p>
    <p>
      A copy of this physical process book is held within the Letterform Archive.
    </p>
    <h3 class="description-heading">Thanks</h3>
    <p>
      Primitiv Text was created with the excellent guidance and support of the
      Type West Online instructors and teaching assistants.
    </p>
    <p>
      Lead Instructor: Sahar Afshar<br />
      Co-Instructors: Fer Cozzi and Romina Hernández<br />
      TAs: Nora Warschewski and Allie Schmitz <br />
      Printed & Bound: <a href="https://copy2copy.com/">Copy2Copy</a>
    </p>
  </article>
</BaseLayout>
